/* intuitivnejsi box-sizing */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

body {
    text-rendering: optimizeLegibility;
}

/*
 BARVY
 svetle sede pozadi      #f5f5f5
 tmavsi seda             #959595
 barevny prechod nahore  #06d7c1
 barevny prechod dole    #50cc49
 zelena cara             #06d7c1
 oranzova                #f15f42

 PISMO
 Rubik - pouzite rezy pisma regular 400 a medium 500
 https://fonts.google.com/specimen/Rubik
*/

/* ----- zde zacni psat vlastni css ----- */

/* 
display
position
box-model
typography
manipulation
*/

.body{
    background-color:#f5f5f5;
}

.box{
    width: 670px;
    height: 440px;
    margin: 80px;
    display: flex;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    font-weight: 400;
}


/* ----- left part ----- */
.left{
    padding: 30px;
    background-image: linear-gradient(to bottom, #06d7c1,#50cc49);
    color: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1), -4px -4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    flex-basis: 50%;
    flex-shrink: 0;
}

.logo {
    margin-bottom: 30px;
    display:block;
 
}

.motto {
    font-size: 16px;
    font-weight: 500;
}

.shoes{
   position: absolute;
   left: -70px;
}

.price{
    font-size: 28px;
    font-weight: 500;
    position: absolute;
    bottom: 40px;
    right:30px
}

.garantee{
    position: absolute;
    bottom: 30px;
    right:30px
}



.right{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1),4px -4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    flex-basis: 50%;
    flex-shrink: 0;
    position: relative;
}

.title{
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0;
}

.category{
    color: #959595;
    margin: 10px auto 30px auto;
}

.description{
    padding-bottom: 30px;
    border-bottom: 1px solid #06d7c1;
    margin-bottom: 0;
}

.size-title{
    font-size: 14px;
    font-weight: 500;
    padding-top: 30px;
    margin-top: 0;
    text-transform: uppercase;
} 

.size-items{
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
}

.size-items li{
    padding-top: 5px;
    height: 2em;
    width: 2em;
    text-align: center;
	border-radius: 50%;
    border: 1px solid white;

}



.size-items li:hover {
	font-weight: 500;
    padding-top: 5px;
	color: #f15f42;
	border: 1px solid #f15f42;
}



.button{
    display:inline-block;
    padding: 10px 30px;
    color:white;
    background-color: #f15f42;
    text-transform: uppercase;
    text-decoration: none;
    position:absolute;
    bottom: 30px;
    left: 30px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.button:hover,
.button:active,
.button:focus {
	background-color: #d54c31;
}